<!DOCTYPE html>
<html lang="es">
<head>
<title>Medicamentos</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='plantilla.css') }}">
</head>

<body>
<div class=content>
  <div class="header">
    <h2></h2>
  </div>
  <div class="menu">
    <div class="menu_item">
      <a href = "/" > <img src="static/home_icon.png" alt="Inicio" width="30" height="30"></a>
    </div>
  </div>
  <div class="row">
    <div class="column side">
      <h1>BUSCADOR</h2>
         <form action="/searchDrug">
             Active ingredient: <br>
             <input type="text" name="active_ingredient" placeholder=" Introducir principo activo" style="width:250px; height:30px; background-color:#D6DBDF; font-size:10pt; border-radius: 10px"> <br>
             <br>
             <input type=image src="static/search.png" width="150" >
        </form>
        <form action="/searchCompany">
             <p></p>
             Company:<br>
             <input type="text" name="company" placeholder=" Introducir empresa" style="width:250px; height:30px; background-color:#D6DBDF; font-size:10pt; border-radius: 10px"><br>
             <br>
             <input type=image src="static/search.png" width="150" >
        </form>
        <form action="/listDrugs">
             <p></p>
             List Drugs (limit 10)<br>
             <input type="text" name="limit" placeholder=" Limite de búsqueda (max = 100)" style="width:250px; height:30px; background-color:#D6DBDF; font-size:10pt; border-radius: 10px">
             <br><br>
             <input type=image src="static/search.png" width="150" >
        </form>
        <form action="/listCompanies">
             <p></p>
             List Companies (limit 10)<br>
             <input type="text" name="limit" placeholder=" Limite de búsqueda (max = 100)" style="width:250px; height:30px; background-color:#D6DBDF; font-size:10pt; border-radius: 10px">
             <br><br>
             <input type=image src="static/search.png" width="150" >
        </form>
    </div>
    <!--  Cuerpo de la página -->
    <div class="column middle">
      {% block body %}{% endblock %}
    </div>
  </div>

<div class="footer">
  <p>© Myriam Mateos 2018</p>
  <p>myriam.mateos@outlook.es</p>
</div>

</div>
</body>
</html>



